.history-container {
  display: flex;

  &__query-list {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &__forecast {
    display: flex;
    flex-direction: column;
    flex: 2;
  }
}
